{% extends "blog/base.html" %}
{% load staticfiles %}

{% block meta %}
{% for post in posts %}
<meta property="og:url" content="{{ base_url }}{{ post.get_absolute_url}}" />
<meta property="og:title" content="{{post.title}}" />
<meta property="og:description" content="{{ post.body|safe|truncatechars:100 }}" />
<meta property="og:image" content="{{ base_url }}/media/{{ post.image_cover }}" />
<meta property="og:type" content="Blog Articles">
<meta property="og:site_name" content="Ryan Dingle">
<meta property="og:locale" content="en_US">
<meta property="fb:app_id" content="259321127540805">
{% endfor %}
{% endblock %}

{% block title %} 
{% for post in posts %}
Blog | {{ post.title }} 
{% endfor %}
{% endblock %}

{% block content %}
{% if posts %}
{% for post in posts %}
<header class="intro-header" style="background-image: url('/media/{{ post.image_cover }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" style="text-shadow: 0px 10px 50px #000">
                    <h1>{{post.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               {{ post.body|safe }}
				<hr>
			    <span class="meta">Categories : 
				{% for c in post.categories.all %}
				<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>,
				{% endfor %}
				</span>
				<br>
				<span class="meta">
				Tags : 
				{% for t in post.tags.all %}
				<a href="{{ t.get_absolute_url }}">{{ t.name }}</a>,
				{% endfor %}
				</span><br>
				<span class="meta">Posted by 
				<a href="javascript:void(0)">{{post.creator}}</a> on {{ post.pub_date|date }}
				</span>
                <hr>
                <table>
                    <tr>
                        <td>
                            <div class="fb-share-button" 
                                data-href="{{ base_url }}{{ post.get_absolute_url}}" 
                                data-layout="button_count">
                            </div>
                        </td>
                        <td style="padding-left: 50px; padding-top: 12px">
                            <a href="{{ post.get_absolute_url }}" class="twitter-share-button">Tweet</a>
                        </td>
                        <td style="padding-left: 50px; padding-top: 12px">
                            <div class="g-plus" data-action="share" data-height="24"></div>
                        </td>
                    </tr>
                </table>
                <hr>
                <div class="fb-comments" data-width="100%" data-href="{{ post.get_absolute_url }}" data-numposts="10">
                </div>
            </div>
        </div>
    </div>
</article>

{% endfor %}
{% else %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading" style="text-shadow: 0px 10px 50px #000">
                <h1>Article not found.</h1>
            </div>
        </div>
    </div>
</div>
{% endif %}
    <hr>    
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}