{% extends "blog/base.html" %}
{% load staticfiles %}

{% block meta %}
{% for t in tags %}
<meta property="og:url" content="{{ base_url }}{{t.get_absolute_url}}" />
<meta property="og:title" content="{{t.name}}" />
<meta property="og:description" content="{{t.description}}" />
<meta property="og:image" content="{{ base_url }}/media/{{t.image_cover}}" />
<meta property="og:type" content="Blog Articles">
<meta property="og:site_name" content="Ryan Dingle">
<meta property="og:locale" content="en_US">
<meta property="fb:app_id" content="259321127540805">
{% endfor %}
{% endblock %}

{% block title %}
{% for c in tags %} 
Blog | {{ c.name }} 
{% endfor %}
{% endblock %}

{% block content %}
{% for c in tags %}
<header class="intro-header" style="background-image: url('/media/{{c.image_cover}}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h3>{{ c.name }}</h3>
                    <span class="subheading">{{c.description}}</span>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>
{% endfor %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        	<span class="sub-heading">Related article in this tag</span>
        	<hr>
            {% for posts in posts %}
            <div class="post-preview">
                <a href="{{ posts.get_absolute_url }}">
                    <h2 class="post-title">
                        {{ posts.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ posts.body|safe|truncatechars:300  }}
                    </h3>
                </a>
                <p class="post-meta">
                    Categories: 
                    {% for category in posts.categories.all %} 
                        <a href="{{category.get_absolute_url}}">{{ category.name }}</a>,
                    {% endfor %}
                    <br>
                    Tags: 
                    {% for tag in posts.tags.all %} 
                        <a href="{{tag.get_absolute_url}}">{{ tag.name }}</a>, 
                    {% endfor %}
                </p>
                <p class="post-meta">Posted by <a href="/">{{ posts.creator }}</a> on {{ posts.pub_date|date:"F d, Y" }}</p>
            </div>
            <hr>
            {% endfor %}
            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}"> &larr; Previous Posts</a>
                    {% endif %}
                </li>
                <li>
                    <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>
                </li>
                <li class="next">
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">Older Posts &rarr;</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>
{% endblock %}